{
    "_COMMENT1": "THE BELOW SHOULD BE THE DEFAULTS BUT IT'S NICE TO SEE WHAT THEY ARE",
    "printWidth": 80,
    "tabWidth": 2,


    "_COMMENT2": "THE BELOW OVERRIDE PRETTIER'S DEFAULTS",
    "singleQuote": true,
    "trailingComma": "es5",
}
