html, body {
    line-height: 20px;
    margin: 0px;
    font-family: verdana, arial, sans-serif;
}
div {
    padding: 20px;
}
/*h1 {
    margin-top: 10px;
    font-size: 30px;
    color: #666;
    margin-bottom: 35px;
}*/
h2 {
    font-size: 17px;
    color: #666;
    padding-top: 15px;
}
img {
    padding-right: 10px;
}
p {
    max-width: 900px;
}
ul, li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
div.recoveryLink {
    padding: 0px;
}
a.historyLink {
    font-weight: normal;
    color: #333;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}
a.historyLink:hover {
    text-decoration: underline;
}
#gsHistory span {
    font-style: italic;
    font-size: 11px;
    color: #aaa;
    padding-left: 20px;
}
.groupLink {
    margin: 0 0 0 10px;
    font-size: 0.8em;
}
.recoveryLink .itemHover {
    visibility: hidden;
    margin: 0px;
    padding: 0px 0px 3px;
    cursor: pointer;
}
.recoveryLink:hover .itemHover {
    visibility: visible;
}
