html, body {
    line-height: 20px;
    margin: 0px;
    font-family: verdana, arial, sans-serif;
}
div {
    padding: 20px;
}
h1 {
    margin-top: 10px;
    font-size: 30px;
    color: #666;
    margin-bottom: 35px;
}
h2 {
    font-size: 20px;
    color: #666;
    padding-top: 15px;
}
img {
    padding-right: 10px;
}
p {
    max-width: 900px;
}
ul, li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
a {
    line-height: 30px;
    font-weight: normal;
    color: #333;
}
#gsHistory span {
    font-style: italic;
    font-size: 11px;
    color: #aaa;
    padding-left: 20px;
}
.groupLink {
    font-size: 14px;
    color: #888;
    padding-left: 20px;
}
.recoveryLink .itemHover {
    visibility: hidden;
    margin: 0px;
    padding: 0px 2px 3px;
    cursor: pointer;
}
.recoveryLink:hover .itemHover {
    visibility: visible;
}