/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
body {
	font-family: sans-serif;
	font-weight: 200;
	color: #444;
	font-size: 12px;
	padding: 0px;
	margin: 0;
	background: url(img/bg4.png) repeat top left;
	min-width: 220px;
	position: relative;
	font-size: 16px;
}
.hidden {
	display: none;
}
#popTop {
	background: #FDE073;
	color: #444;
	overflow: hidden;
	height: 35px;
	position: relative;
	z-index: 10;
}
#popTop h1 {
	color: #555;
	line-height: 35px;
	font-weight: normal;
	text-shadow: 0 1px 0 #FFF8C7;
	text-align: left;
	padding-left: 10px;
	z-index: 5;
	position: relative;
	width: 230px;
	font-size: 17px;
}
#popTop img {
	position: absolute;
	top: 3px;
	right: 4px;
	z-index: 2;
}
#popTop span {
	color: #444;
	font-size: 11px;
	padding: 20, 10, 10, 10px;
}
#statusBar {

}
#statusBar span {
	background: #f5f5f5;
	padding: 5px;
	color: #555;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: .5px;
	line-height: 20px;
}
#middle {
	padding: 0;
	border-bottom: 1px solid #aaa;
}
.menuOption {
	cursor: pointer;
	background: #fff;
	text-align: left;
	margin: 0;
	display: block;
	border-top: 1px solid #ddd;
	color: #666;
	overflow: hidden;
	height: 40px;
}
.menuOption:hover {
	opacity: 0.9;
}
.icon {
	background: #FDE073;
	width: 40px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}
.optionText {
	float: left;
	line-height: 40px;
	padding: 0 10px;
}
.iconSuspendCurrent { background-image: url('pause-current.png'); }
.iconSuspendAll { background-image: url('pause-all.png'); }
.iconWhitelist { background-image: url('tick.png'); }
.iconUnsuspendAll { background-image: url('refresh.png'); }
.menuOption:hover {
	background-color: #fff;
}
.menuOption:first-of-type {
	border-top: 0;
}
#bottom {
	padding: 5px;
	box-shadow: 0 -2px 8px -5px #aaa;
	border-top: 1px solid #fff;
	background: #f1f1f1;
	font-size: 13px;
	color: #888;
	text-align: center;
	height: 20px;
}
#bottom a {
	color: #0979E0;
	cursor: pointer;
	line-height: 20px;
	height: 20px;
}
#bottom a:hover {
	text-decoration: underline;
}

/* remove input highlight borders */
/*input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}*/

/* END BUTTONS / CONTROLS */