/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

/* END RESET */

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}
h2 {
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
select {
	min-width: 50px;
	padding-left: 1px;
}
input {
	max-width: 75px;
	padding-left: 3px;
}
input, select, button {
	margin-bottom: 8px;
}
body {
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	background: #f5f5f5;
}
p {
	padding-bottom: 10px;
}
.btn {
    text-decoration:none;
    background: linear-gradient(#fff,#ddd);
    border: 1px solid #aaa;
    border-top-color: #ccc;
    padding: 0.1em 0.6em;
    font-size: 0.9em;
    border-radius: 4px;
    box-shadow: 0 1px 3px -2px #000;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}
.btn:hover {
    box-shadow: none;
    background: linear-gradient(#ddd,#d5d5d5);
}
.hidden {
	visibility: hidden;
}
#body {
    background: #FDE073;
}
.mainContent {
    width: 600px;
    margin: 40px auto 10px;
    font-size: 14px;
    font-family: verdana, sans-serif;
    color: #444;
    background: #F9F9F9;
    padding: 20px 20px 30px;
    box-shadow: 0 2px 10px -4px #000;
}
#heading {
	white-space: nowrap;
	text-align: center;
	font-size: 17px;
	text-shadow: 0 1px 0 white;
	margin: 0 0 8px;
}
#previewQualityNote {
	font-style: italic;
}
#gsHistory a, #gsHistory a:visited {
	color: #444;
	font-size: 13px;
	text-decoration: none;
}
#gsHistory a:hover {
	text-decoration: underline;
}
#gsHistory h2 {
	clear: both;
}
.historyRow {
	clear: both;
}
.historyRow a, .historyRow img, .historyRow span {
	float: left;
}
.historyRow a {
	max-width: 380px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.historyRow img, .historyRow span {
	white-space: nowrap;
}
table, tr, td {
	padding: 0px 20px 0px 5px;
	white-space: nowrap;
}