/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

/* END RESET */

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}
h2 {
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
h3 {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #444;
}
h4 {
    font-weight: bold;
}
select {
	min-width: 50px;
}
input, select, button {
	margin-bottom: 8px;
}
body {
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	background: #f5f5f5;
    background: url(img/noisebg.png) repeat top left #4ea6ca;
}
p {
	margin: 0 0 15px;
}

ul.unorderedList, ol.orderedList {
    padding-left: 20px;
    margin: 7px 0 10px 0;
}
ul.unorderedList li {
    margin: 0 0 3 10px;
    list-style: disc;
}

.button {
    outline: 0;
    background: linear-gradient(#666, #444);
    padding: 5px 10px;
    color: #FFF;
    text-shadow: 0 -1px 0 #222;
    border-radius: 4px;
    border: 1px solid #444;
    border-bottom-color: #222;
    cursor: pointer;
    font-size: 13px;
    border-top-color: #666;
}
button:hover {
    background: #666;
}
button:active {
    background: #555;
    border-bottom-color: #888;
}

.hidden {
	visibility: hidden;
}
.mainContent {
    width: 700px;
    margin: 40px auto 10px;
    font-size: 14px;
    font-family: verdana, sans-serif;
    color: #444;
    background: #F9F9F9;
    padding: 20px 20px 30px;
    box-shadow: 0 2px 10px -4px #000;
}
.pageLink {
    color: #444;
    text-decoration: none;
}
.pageLink.active {
    font-weight: bold;
}
.pageLink:hover {
    text-decoration: underline;
}
#heading {
	white-space: nowrap;
	text-align: center;
	font-size: 17px;
	text-shadow: 0 1px 0 white;
	margin: 0 0 8px;
}
.gsNote {
	font-style: italic;
    font-size: 12;
    background: rgb(255, 247, 202);
    padding: 5;
}
#gsHistory a, #gsHistory a:visited {
	color: #444;
	font-size: 13px;
	text-decoration: none;
}
#gsHistory a:hover {
	text-decoration: underline;
}
#gsHistory h2 {
	clear: both;
}
.historyRow {
	clear: both;
}
.historyRow a, .historyRow img, .historyRow span {
	float: left;
}
.historyRow a {
	max-width: 380px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.historyRow img, .historyRow span {
	white-space: nowrap;
}
.sessionLink {
    cursor: pointer;
}
.sessionLink:hover {
	text-decoration: underline;
}
div.recoveryLink {
    padding: 0px;
    margin: 0 0 3px 0;
}
div.recoveryLink > * {
    vertical-align: middle;
}
a.historyLink {
    font-weight: normal;
    color: #333;
    font-size: 13px;
    text-decoration: none;
    max-width: 90%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
a.historyLink:hover {
    text-decoration: underline;
}
.blocked {
    color: black;
    opacity: .7;
}
.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 20px;
    width: 350px;
    height: 150px;
    border-radius: 3px;
    background: rgba(255,255,255,1 );
    border: 1px solid rgba(0, 0, 0, 0.8);
    z-index: 2000;
    display: none;
}
#gsHistory span {
    font-style: italic;
    font-size: 11px;
    color: #aaa;
    padding-left: 10px;
}
.windowHeading {
    font-size: 13px;
    font-weight: bold;
    color: #777;
    padding-top: 7px;
    padding-bottom: 4px;
}
.sessionDiv div:last-child{
    padding-bottom: 10px;
}
.groupLink {
    margin: 0 0 0 10px;
    font-size: 11px;
    font-weight: normal;
}
.recoveryLink .itemHover {
    visibility: hidden;
    margin: 0px;
    padding: 0px 0px 3px;
    cursor: pointer;
}
.recoveryLink:hover .itemHover {
    visibility: visible;
}
img {
    padding-right: 10px;
}
p {
    max-width: 900px;
}
ul, li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
table, tr, td {
	padding: 0px 20px 0px 5px;
	white-space: nowrap;
}
.paypal_btn {
    width: 181px;
    height: 39px;
    margin: -35px 0 0 0;
    float: right;
    cursor: pointer;
    border-radius: 4px;
    background: #36BEF3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #FFF;
    font-size: 16px;
    border: 1px solid #5B869B;
    text-shadow: 0 -1px 0 #2A5C74;
    border-bottom-color: #254858;
}
.paypal_btn:hover {
    background: #2A8CB3;
}
#configureShortcuts {
    font-size: 11px;
}
