#gsTopBar  {
	position: fixed;
    color: #444;
    text-shadow: 0 1px 0 #FFF3C5;
    height: 100px;
    background: #FDE073;
    top: 0;
    padding-top: 10px;
    line-height: 25px;
    width: 100%;
    text-align: center;
    font-family: verdana, arial, sans-serif;
    border-bottom: 1px solid #6B5811;
    box-shadow: 0 4px 5px -2px #555;
}
#gsTopBarImg {
    position: absolute;
    left: 10px;
    height: 90px;
    width: 90px;
}
#gsTopBarTitle {
    font-weight: bold;
}
#gsTopBarUrl {
    font-style: italic;
    font-size: 14px;
}
#gsTopBarInfo {
    line-height: 40px;
}
#gsWhitelistLink {
    text-decoration:underline;
}
#gsPreview {
    margin-top:115px;
}
html, body {
    cursor: pointer;
    margin: 0px;
    width: 100%;
    height: 100%;
}
a {
    color: #333;
}