body {
    background: #f5f5f5;
}
#gsTopBar  {
	position: fixed;
    color: #444;
    /*background: url(img/noisebg.png) repeat top left #4ea6ca;*/
    background: #E7F3F8;
    top: 0;
    padding: 10px 10px 5px;
    line-height: 25px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-family: verdana, arial, sans-serif;
    border-bottom: 1px solid #8A8352;
    color: #444;
}
#gsTopBarImg {
}
#gsTopBarTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 19px;
    line-height: 28px
    color: #FFF;
}
#gsTopBarUrl {
    font-style: italic;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#gsTopBarInfo {
    line-height: 40px;
}
#gsPreview {
    margin-top:115px;
}
html, body {
    cursor: pointer;
    margin: 0px;
}
a {
    color: #333;
}
