
img {
    padding: 0;
    margin: 0;
}
body {
    background: #DBDBDB;
    margin: 0px;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y:hidden;
}
#gsTopBar  {
   	position: fixed;
    background: #E7F3F8;
    top: 0;
    padding: 15px 15px 10px;
    line-height: 30px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    border-bottom: 1px solid #ACBDC2;
    color: #555;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
#gsTopBarTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 19px;
    line-height: 26px;
}
#gsTopBarTitle a {
    text-decoration: none;
    color: inherit;
}
#gsTopBarTitle a:hover {
    text-decoration: underline;
}
#gsTopBarUrl {
    font-style: italic;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#gsTopBarInfo {
    line-height: 40px;
}
#gsWhitelistLink {
    text-decoration: underline;
    cursor: pointer;
}
#gsWhitelistLink:hover {
    color: #000;
}
#gsPreview {
    width: 100%;
    height: 100%;
    background: #fff;
}
#gsPreviewImg {
    width: 100%;
    margin-top:86px;
}
.centerBoxContainer {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.centerBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
#suspendedMsg {
    background: #fff;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(radial, 50% 50%, 650, 50% 50%, 0, from(#DBDBDB), to(#FFF));
}
#suspendedMsg, #gsPreview {
    cursor: pointer;
}
#suspendedMsg h1, #suspendedMsg h2 {
    font-size: 60px;
    color: #ddd;
    font-weight: bold;
    text-shadow: 0 -1px 0 #bbb;
}
#suspendedMsg h2 {
    font-size: 70px;
}
@media all and (max-width: 600px) {
    #suspendedMsg h1 {
        font-size: 45px;
    }
    #suspendedMsg h2 {
        font-size: 55px;
    }
}
#dudePopup {
    position: absolute;
    left: 30px;
    bottom: -240px;
}

@-webkit-keyframes silde_to_top {
    0% {
        bottom: -300px;
    }
    100% {
        bottom: 50px;
        z-index: 1000000;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#dudePopup.poppedup {
    -webkit-animation-name: silde_to_top;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 3s;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
}

#donateBubble {
    position: relative;
    width: 325px;
    height: 92px;
    padding: 5px 0;
    background: #E7F3F8;
    border: #87BACE solid 1px;
    border-radius: 4px;
    color: #555;
    bottom: 50px;
    left: 133px;
    position: absolute;
    text-align: center;
    font-size: 15px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
}

#donateBubble:after {
    content: "";
    position: absolute;
    top: 19px;
    left: -15px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #E7F3F8;
    display: block;
    width: 0;
    z-index: 1;
}

#donateBubble:before {
    content: "";
    position: absolute;
    top: 19px;
    left: -16px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #87BACE;
    display: block;
    width: 0;
    z-index: 0;
}

#donateBubble.fadeIn {
    -webkit-animation: fadein 0.7s;
    animation: fadein 0.7s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-delay: 4s;
}


