
img {
    padding: 0;
    margin: 0;
}
body {
    background: #DBDBDB;
    margin: 0px;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#gsTopBar  {
   	position: fixed;
    background: #E7F3F8;
    top: 0;
    padding: 15px 15px 10px;
    line-height: 30px;
    width: 100%;
    max-width: 100%;
    text-align: center;
    border-bottom: 1px solid #ACBDC2;
    color: #555;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
#gsTopBarTitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 19px;
    line-height: 26px;
}
#gsTopBarUrl {
    font-style: italic;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#gsTopBarInfo {
    line-height: 40px;
}
#gsWhitelistLink {
    text-decoration: underline;
    cursor: pointer;
}
#gsWhitelistLink:hover {
    color: #000;
}
#gsPreview {
    margin-top:115px;
}
.centerBoxContainer {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.centerBox {
    margin-left: auto;
    margin-right: auto;
}
#suspendedMsg {
    background: #fff;
    background: -webkit-gradient(radial, 50% 50%, 650, 50% 50%, 0, from(#DBDBDB), to(#FFF));
}
#suspendedMsg, #gsPreview {
    cursor: pointer;
}
#suspendedMsg h1, #suspendedMsg h2 {
    font-size: 60px;
    color: #ddd;
    font-weight: bold;
    text-shadow: 0 -1px 0 #bbb;
}
#suspendedMsg h2 {
    font-size: 70px;
}
@media all and (max-width: 600px) {
    #suspendedMsg h1 {
        font-size: 45px;
    }
    #suspendedMsg h2 {
        font-size: 55px;
    }
}
#dudePopup {
    position: absolute;
    bottom: -16px;
    left: 30px;
}