.btn {
    background: #3477db;
    color: #fff;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    display: inline-block;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    min-width: 80px;
    text-align: center;
}
.btn:hover {
    background: #5c9dfe;
    text-decoration: none;
}
.donateButtons {
    overflow: hidden;
}
.donateButtons > * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
    margin: 0 7px 0 0;
    float: left;
}
.donateButtons > *:last-child {
    margin: 0;
}

.donationToggle {
    margin-top: 15px;
}

#dudePopup {
    display: none;
    position: fixed;
    width: 90px;
    left: 30px;
    bottom: -240px;
    cursor: default;
}
#dudePopup.poppedup {
    display: block !important;
    animation-name: slideToTop;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0.5s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

.donateBubble {
    display: none;
    width: 365px;
    padding: 15px 10px;
    background: #fff;
    border-radius: 4px;
    bottom: 35px;
    left: 133px;
    position: fixed;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    opacity: 0;
    cursor: default;
}
.donateBubble:before {
    content: '';
    position: absolute;
    top: 19px;
    left: -14px;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #fff;
    display: block;
    width: 0;
    filter: drop-shadow(-2px 0px 0 rgba(0, 0, 0, 0.1));
}
.donateBubble .donateButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.donateBubble.fadeIn {
    display: block !important;
    animation: fadein 0.7s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}
@keyframes slideToTop {
    0% {
        bottom: -240px;
    }
    100% {
        bottom: 10px;
        z-index: 1000000;
    }
}
#donatedSection {
    display:none;
}