body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-weight: 200;
	color: #444;
	padding: 0;
	margin: 0;
	min-width: 300px;
	position: relative;
	font-size: 16px;
	background: #f5f5f5;
}
a {
	outline : none;
	color: #3889AB;
}
#popupContent {
	opacity: 0;
	transition: opacity 200ms ease;
}
#statusDetail a {
	color: #FFFFFF;
}
.hidden {
	display: none;
}
#header {
	padding: 5px 15px 5px 16px;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	height: 20px;
	width: 100%;
	line-height: 19px;
	background: #777;
	color: #fff;
}
#header.willSuspend {
	background: #01579B;
}
#header.wontSuspend {
	background: #777;
}
#header img {
	z-index: 2;
	padding-right: 3px;
}


.group {
	padding: 5px 0;
}
#optsCurrent, #optsAll, #optsSelected {
	border-bottom: 1px solid #ccc;
}

.menuOption {
	font-size: 17px;
	line-height: 2em;
	white-space: nowrap;
	cursor: pointer;
	padding: 0 15px;
}
.menuOption:hover .optionText {
	text-decoration: underline;
}
.menuOption:hover .fa {
	opacity: 1;
}
.fa {
	margin-right: 5px;
}
