@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/open-sans-700.woff2') format('woff2');
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	color: #444;
	padding: 0;
	margin: 0;
	min-width: 300px;
	position: relative;
	font-size: 16px;
	background: #f5f5f5;
}
a {
	outline : none;
	color: #3889AB;
}
#statusDetail a {
	color: #FFFFFF;
}
.hidden {
	display: none;
}
#header {
	padding: 5px 15px 5px 16px;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	height: 20px;
	width: 100%;
	line-height: 19px;
	background: #134960;
	color: #fff;
}
#header img {
	z-index: 2;
	padding-right: 3px;
}


.group {
	padding: 5px 0;
}
.optsCurrent, .optsAll, .optsSelected {
	border-bottom: 1px solid #ccc;
}

.menuOption {
	font-size: 17px;
	line-height: 2em;
	white-space: nowrap;
	cursor: pointer;
	padding: 0 15px;
}
.menuOption:hover .optionText {
	text-decoration: underline;
}
.menuOption:hover .fa {
	opacity: 1;
}
.fa {
	margin-right: 5px;
	opacity: 0.8;
}

