/*

                - - /|_/|      .-------------------.
  - _______________| @.@|     /      Styles by      )
-- (______         >\_C/< ---/    Liam Johnston    /
  -  -   / ______  _/____)  (   @liamjohnstonnz   /
 -  -   / /\ \   \ \         `-------------------'
   - (_/  \_) - \_)

*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-300.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/open-sans-700.woff2') format('woff2');
}


/* RESET */

html, body, div, span, applet, object, iframe,

, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

/* END RESET */


body {
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	font-size: 15px;
    background: #cfe0e4;
    padding: 0;
    margin: 0;
    color: #444;
}
p {
	margin: 0 0 15px;
}
a {
    color: #3889AB;
    text-decoration: none;
    font-weight: 400;
}
a:hover {
    text-decoration: underline;
}
a.active{
    color: #444;
    cursor: default;
    font-weight: 600;
    text-decoration: none;
}
hr {
    border-width: 0;
    border-top: 1px solid #e7e7e7;
    height: 1px;
    margin: 23px 0;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.pageHeader {
    background: #134960;
    color: #fff;
    font-weight: normal;
    height: 63px;
    line-height: 63px;
    margin: 0;
    padding: 0 0 0 50px;
    font-weight: 300;
}
img.headerIcon {
    margin: 19px 5px 0 0;
    float: right;
}

select {
    min-width: 150px;
}
.formRow select {
    background: #FFF;
    border-radius: 3px;
    -webkit-appearance: none;
    padding: 10px 30px 10px 10px;
    font-size: 14px;
    border-color: #ccc;
    /* TODO: make this better / more scalable */
    background-image: url(/img/ddArrow.png);
    background-repeat: no-repeat;
    background-position: 90% 16px;
}
input, select, button {
    margin-bottom: 8px;
}
textarea {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border-color: #C3C3C3;
    font-size: 16px;
    font-weight: 300;
    padding: 3px 5px;
}
.formRow {
    margin: 15px 0;
}
ul.unorderedList, ol.orderedList {
    padding-left: 20px;
    margin: 7px 0 10px 0;
}
ul.unorderedList li {
    margin: 0 0 3 10px;
    list-style: disc;
}

.splash {
    font-size: 16px;
    width: 900px;
    margin: 40px auto;
    overflow: hidden;
}
.splash h1 {
    font-size: 60px;
    line-height: 66px;
    margin-top: 15px;
}
.splash h2 {
    font-weight: 400;
    font-size: 22px;
}
.splash p {
    font-size: 18px;
}
.dude-left {
    float: left;
    padding-left: 30px;
    padding-right: 25px;
}

.btn {
    background: #52a6c8;
    color: #fff;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    display: inline-block;
    border: 0;
    font-size: 14px;
    cursor: pointer;
}
.btn:hover {
    background: #4994B3;
}
.btn.btnNeg {
    background: #ddd;
    color: #333;
}
.btn.btnNeg:hover {
    background: #DDD;
}
.btn.secondary {
    background: #E3F7FC;
    color: #666;
}
.btn.secondary:hover {
    background: #CBF1FA;
}
.btnDonate {
    font-family: 'Open Sans', sans-serif;
    margin: 0 5px;
    float: left;
}
.btnDonate:hover {
    text-decoration: underline;
}
.btnDisabled {
    background: #f1f1f1;
    color: #888;
    cursor: default;
}
.btnDisabled:hover {
    background: #f1f1f1;
    color: #888;
}
.lesserText {
    color: #929292;
    font-size: 0.8em;
    font-weight: 300;
}
.hidden {
	visibility: hidden;
}
.mainContent {
    width: 900px;
    margin: 40px auto;
    color: #444;
    background: #fff;
    overflow: hidden;

}
.contentNav, .content {
    box-sizing: border-box;
    float: left;
    padding: 20px 50px 40px;
}
.contentNav {
    width: 240px;
    padding: 35px 10px 50px 50px;
    margin: 15px 0 0;
}
.contentNav li {
    height: 35px;
    line-height: 100%;
}
.content {
    border-left: 1px solid #E7E7E7;
    width: 660px;
    min-height: 250px;
}
.contentFull {
    width: 800px;
}
.content h2 {
    padding: 0 0 10px 0;
    margin: 30px 0 0 0;
    font-size: 16px;
    font-weight: 600;
}

#heading {
	white-space: nowrap;
	text-align: center;
	font-size: 17px;
	text-shadow: 0 1px 0 white;
	margin: 0 0 8px;
}
.gsNote {
	font-style: italic;
    font-size: 12px;
    background: rgb(255, 247, 202);
    padding: 5px;
    margin-top: 5px;
}
#gsHistory a, #gsHistory a:visited {
	color: #444;
	font-size: 13px;
	text-decoration: none;
}
#gsHistory a:hover {
	text-decoration: underline;
}
#gsHistory h2 {
	clear: both;
}
.historyRow {
	clear: both;
}
.historyRow a, .historyRow img, .historyRow span {
	float: left;
}
.historyRow a {
	max-width: 380px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.historyRow img, .historyRow span {
	white-space: nowrap;
}
.sessionLink {
    cursor: pointer;
}
.sessionLink:hover {
	text-decoration: underline;
}
hr.splashRule {
    clear: left;
    background-color: #99A7AD;
    border-top: none;
}
div.recoveryLink {
    padding: 0px;
    margin: 0 0 3px 0;
}
div.recoveryLink > * {
    vertical-align: middle;
}
a.historyLink {
    font-weight: normal;
    color: #333;
    font-size: 13px;
    text-decoration: none;
    max-width: 90%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
a.historyLink:hover {
    text-decoration: underline;
}
.blocked {
    color: black;
    opacity: .7;
}
.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 20px;
    width: 350px;
    height: 150px;
    border-radius: 3px;
    background: rgba(255,255,255,1 );
    border: 1px solid rgba(0, 0, 0, 0.8);
    z-index: 2000;
    display: none;
}
#gsHistory span {
    font-style: italic;
    font-size: 11px;
    color: #aaa;
    padding-left: 10px;
}
.windowHeading {
    font-size: 13px;
    font-weight: bold;
    color: #777;
    padding-top: 18px;
    padding-bottom: 4px;
}
.sessionDiv div:last-child{
    padding-bottom: 10px;
}
.groupLink {
    margin: 0 0 0 10px;
    font-size: 11px;
    font-weight: normal;
}
.recoveryLink .itemHover {
    visibility: hidden;
    margin: 0;
    padding: 0 0 3px;
    cursor: pointer;
}
.recoveryLink:hover .itemHover {
    visibility: visible;
}
img {
    padding-right: 10px;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
table, tr, td {
	padding: 0 20px 0 5px;
	white-space: nowrap;
}
#screenCaptureNotice {
    display: none;
    clear: left;
    margin-top: 30px;
    background: rgb(255, 247, 202);
    padding: 10px 0 10px 10px;
}
#screenCaptureNotice p {
    font-size: 15px;
}
#previewsOffBtn:hover {
    cursor: pointer;
}

/* custom checkboxes */
.cbLabel {
    line-height: 20px;
    display: inline-block;
    padding-left: 10px;
    vertical-align: top;
}
input[type=checkbox] {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
input[type=checkbox]:before { content:""; display:inline-block; width:20px; height:20px;}
input[type=checkbox]:before { background: url(/img/checkOff.png) #fff;}
input[type=checkbox]:checked:before { background: url(/img/checkOn.png) #fff; }
